// Colors
$white: #ffffff;
$primary: #f8f9fa;
$secondary: #a62835;
$gray-light: #cfd1d2;
$gray-medium: #d0d1d3;
$gray-dark: #979696;


$bg-color: $primary;

$bg-layout-body: $white;
$bg-layout-sider: $gray-light;
$bg-layout-footer: $secondary;


$text-color: #cbbdc1;

$bg-color-nav: #363636;